# ------------------------------------------
# CX API TEST AUTOMATION CONFIGURATION FILE
# ------------------------------------------

# ***********************************
# Note: Ensure that the Key Name or Value doesn't contain special characters like semicolon (;) or equals (=)
# ***********************************

[CXAPIExecutionConfig]
#cxip=23.101.27.198
#cxport=5000
#cxprotocol=https
# executeapi value contains list of API names to be executed with comma (,) as a separator.
# If this value is empty then all the APIs in this file will be executed sequentially.
executeapi=InfrastructureDiscovery,InstallMobilityService,SetVPNDetails,ListScoutComponents,ProtectionReadinessCheck,CreateProtection,ListConsistencyPoints,RollbackReadinessCheck,CreateRollback,StopProtection
# The value for asyncfunctiontimeout is the time to wait for the Async Operation to complete in seconds.
asyncfunctiontimeout=3600


[Placeholders]
# ps_id value is the Process Server GUID, this value cannot be empty
ps_id_10.10.5.58=E19F3658-D4E5-D041-9D342E487227E442
mt_id_100.76.76.16=90A36432-2BFD-6A48-82622E5A932E9CC7
# If a placeholder value is empty then ensure that its value will be determined at runtime.
agent_id_10.10.6.166=
protection_plan_id=


[InfrastructureDiscovery]
# input value for os can be either Windows or Linux
# infrastructuresource value can be either Primary or Recovery
# physicalinfrastructure.1=sitename=;serverip=;hostname=;os=;infrastructuresource=
# discoveryagent value is GUID of Process Server where discovery should run
# infrastructuresource value can be either Primary or Recovery
vcenterinfrastructure.1=sitename=;serverip=10.10.0.90;accountid=1;loginid=;password=;discoveryagent={ps_id_10.10.5.58};infrastructuresource=Primary


[InstallMobilityService]
#cs=ipaddress=;port=;protocol=https
# pushserverid holds Push Server host GUID
pushserverid={ps_id_10.10.5.58}
# hosts contain details of hosts where Mobility Service needs to be installed
# accountid value is mandatory only when username and password are not provided
# agenttype value can be ScoutAgent or MasterTarget
host.1=hostip=10.10.6.166;hostname=;displayname=;os=Windows;accountid=1;domain=;username=;password=;agenttype=ScoutAgent
#host.2=hostip=137.116.158.72;hostname=;displayname=;os=Windows;accountid=2;domain=;username=;password=;agenttype=MasterTarget

[SetVPNDetails]
# value of connectivitytype can be either VPN or NON VPN, it is a mandatory key.
connectivitytype=NON VPN
server.1=hostid={mt_id_100.76.76.16};privateip=100.76.76.16;privateport=9080;privatesslport=9443;publicip=137.116.158.72;publicport=5010;publicsslport=5011

[ListScoutComponents]
# input for componenttype can be All/MasterTarget/ProcessServer/ScoutAgent
componenttype=All
# input value for os can be either Windows or Linux
#os=
#hostid.1=
#hostid.2=

[GetCSPSHealth]

[ProtectionReadinessCheck]
processserverid={ps_id_10.10.5.58}
mastertargetid={mt_id_100.76.76.16}
servermapping.1=processserverid={ps_id_10.10.5.58};sourceid={agent_id_10.10.6.166};mastertargetid={mt_id_100.76.76.16}
#servermapping.2=processserverid={ps_id_10.10.5.58};sourceid=;mastertargetid={mt_id_100.76.76.16}

[CreateProtection]
planid=
planname=
# rpothreshold value is RPO threshold in minutes, retainconsistencypoints value is the time to retain consistency points in hours,
# consistencyinterval value is time interval in minutes and compressionenabled value is True/False
protectionproperties=batchresync=3;enablemultivmsync=True;rpothreshold=30;retainconsistencypoints=24;consistencyinterval=30;compressionenabled=True
# usenatfor value can be None/Source/Target/Both,
# retentiondrive value is the drive letter where retention data is saved. Example:R
# protectiondirection value can be E2A or A2E, it is an optional parameter
globaloptions=processserverid={ps_id_10.10.5.58};usenatfor=;mastertargetid={mt_id_100.76.76.16};retentiondrive=R;protectiondirection=E2A
# starttime value is start time (hh:mm) of auto resync. Ex: 21:00
# endtime value is end time (hh:mm) of auto resync. Ex: 22:00
# interval value is the time interval in seconds it waits to start resync. Example:1800
autoresyncoptions=starttime=18:00;endtime=22:00;interval=1800
# details of first source server
# usenatipfor value can be  None/Source/Target/Both,
# retentiondrive value is the drive letter where retention data is saved. Example:R
# protectiondirection value can be E2A or A2E, it is an optional parameter
sourceserver.1=hostid={agent_id_10.10.6.166};processserverid={ps_id_10.10.5.58};usenatipfor=;mastertargetid={mt_id_100.76.76.16};retentiondrive=R;protectiondirection=E2A
sourceserver.1.diskmapping.1=sourcediskname=\\.\PHYSICALDRIVE0;targetlun=0
#sourceserver.1.diskmapping.2=sourcediskname=;targetlun=
# details of second source server
#sourceserver.2=hostid=;processserverid={ps_id_10.10.5.58};usenatipfor=;mastertargetid={mt_id_100.76.76.16};retentiondrive=R;protectiondirection=E2A
#sourceserver.2.diskmapping.1=sourcediskname=\\.\PHYSICALDRIVE0;targetlun=
#sourceserver.2.diskmapping.2=sourcediskname=\\.\PHYSICALDRIVE1;targetlun=


[ListConsistencyPoints]
protectionplanid={protection_plan_id}
# tagstartdate value has to be in the format "MM/dd/yyyy HH:mm:ss" , Ex: 1/15/2015 18:15:00. 
# If this value is empty then start date will be 6 hours preceding the current time of local computer.
tagstartdate=
# tagenddate value has to be in the format "MM/dd/yyyy HH:mm:ss" , Ex: 2/15/2015 22:15:00
# If this value is empty then start date will be the current time of local computer.
tagenddate=
# tagtype value is FS/sharepoint/Sql2012/Sql2008/Sql2005 etc. It is optional value.
tagtype=FS
# userdefinedtag value is True or False
userdefinedtag=
# tagname value is required if userdefinedtag is true
tagname=
# tagaccuracy value can be Exact/Approximate/NotGuaranteed
tagaccuracy=Exact
# getrecenttag value can be True or False
getrecenttag=
# multivmsync value can be True or False
multivmsync=True
# If waitforcommonconsistencytag value is set to True then it waits until common consistency tag is issued or time out has reached.
waitforcommonconsistencytag=True
#hostid.1=
#hostid.2=


[RollbackReadinessCheck]
# multivmsyncenabled value can be True or False
multivmsyncenabled=True
# recoverypoint value can be LatestTag/LatestTime/Custom
recoverypoint=LatestTag
# customtagname option is mandatory if recoverypoint value is chosen as Custom
customtagname=
protectionplanid={protection_plan_id}
#hostid.1=
#hostid.2=

[CreateRollback]
rollbackplanid=
rollbackplanname=
# multivmsyncrequired value can be either True or False
multivmsyncrequired=True
# recoverypoint value can be LatestTag/LatestTime/Custom
recoverypoint=LatestTag
# customtagname option is mandatory only if recoverypoint value is chosen as Custom
customtagname=
protectionplanid={protection_plan_id}
#host.1=hostid=;customtagname=
#host.2=hostid=;customtagname=

[StopProtection]
protectionplanid={protection_plan_id}
# forcedelete value can be True or False
forcedelete=
#hostid.1=
#hostid.2=

[ListEvents]
category=All
# severity value can "All/Error/Warning/Notice" and default is All
severity=All
token=

#====================================================================
# The below Functions are not invoked by default in this config file.
#====================================================================


[ListInfrastructure]
# input value for infrastructuretype can be Physical/vCenter/vSphere/vCloud/AWS
infrastructuretype=vCenter
infrastructureid=

[GetProtectionDetails]
protectionplanid=
hostid.1=
hostid.2=

[GetRequestStatus]
requestid=
# asyncFunction value can be CreateProtection/CreateRollback/InstallMobilityService/UnInstallMobilityService/InfrastructureDiscovery/StopProtection
asyncFunction=


[GetProtectionState]
protectionplanid=
hostid.1=
hostid.2=

[ListPlans]
# plantype value can be Protection/Rollback
plantype=
planid=
hostid.1=
hostid.2=

[ModifyProtectionProperties]
protectionplanid=
# rpothreshold value is RPO threshold in minutes, retainconsistencypoints value is time in hours,
# consistencyinterval value is time interval in minutes and compressionenabled value is True/False
protectionproperties=batchresync=3;enablemultivmsync=True;rpothreshold=;retainconsistencypoints=;consistencyinterval=;compressionenabled=
# starttime value is start time (hh:mm) of auto resync. Ex: 21:00
# endtime value is end time (hh:mm) of auto resync. Ex: 22:00
# interval value is the time interval in seconds it waits to start resync
autoresyncoptions=starttime=;endtime=;interval=


[ModifyProtection]
protectionplanid=
# details of first source server
# usenatipfor value can be  None/Source/Target/Both,
# retentiondrive value is the drive letter where retention data is saved Ex:R
sourceserver.1=hostid=;processserverid=;usenatipfor=;mastertargetid=;retentiondrive=;
sourceserver.1.diskmapping.1=sourcediskname=;targetlun=
sourceserver.1.diskmapping.2=sourcediskname=;targetlun=
# details of second source server
sourceserver.2=hostid=;processserverid=;usenatipfor=;mastertargetid=;retentiondrive=;
sourceserver.2.diskmapping.1=sourcediskname=;targetlun=
sourceserver.2.diskmapping.2=sourcediskname=;targetlun=

[RestartResync]
protectionplanid=
hostid.1=
hostid.2=
# forceresyncenabled value can be True/False
forceresyncenabled=

[GetRollbackState]
rollbackplanid=
hostid.1=
hostid.2=

[CleanRollbackPlans]
planid.1=
planid.2=

[RemoveInfrastructure]
infrastructureid=

[UnInstallMobilityService]
# hosts contain details of hosts where Mobility Service needs to be installed
# accountid value is mandatory only when username and password are not provided
host.1=hostid=;accountid=;username=;password=;pushserverid=

[SetPSNatIP]
processserverid=
natip=

[PSFailover]
# failovertype value can be SystemLevel/ServerLevel
failovertype=SystemLevel
# oldprocessserver value holds the Host GUID of old Process Server, this value is mandatory for SystemLevel failovertype and optional for ServerLevel.
oldprocessserver=
# newprocessserver value holds the Host GUID of new Process Server.
newprocessserver=
#host.1=hostid=;newprocessserver=
#host.2=hostid=;newprocessserver=