<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <add name="CSAuthModule" type="CSAuthModuleNS.CSAuthModule" />
        </modules>
    </system.webServer>
    <system.web>
    <identity impersonate="true" />
    </system.web>
</configuration>   