<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="FileDescription" value="Microsoft Azure Site Recovery Unified Setup"/>
    <add key="CompanyName" value="Microsoft Corporation"/>
    <add key="Language" value="040904B0"/>
    <add key="ProductName" value="Microsoft Azure Site Recovery"/>
    <add key="Self-Extractor Version" value="BOX 4.0.1815.0"/>
    <add key="Originalfilename" value="MicrosoftAzureSiteRecoveryUnifiedSetup.exe" />
  </appSettings>
</configuration>
