<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClientLibHelpers"
                          culture="neutral"/>
        <codeBase version="3.1.0.0"
                  href="ProcessServer/ClientLibHelpers.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CredentialStore"
                          culture="neutral"/>
        <codeBase version="3.1.0.0"
                  href="ProcessServer/CredentialStore.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client"
                                culture="neutral"
                                publicKeyToken="0a613f4dd989e8ae"/>
        <codeBase version="4.48.1.0"
                        href="ProcessServer/Microsoft.Identity.Client.dll"/>
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions"
                            culture="neutral"
                            publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="6.22.0.0"
                    href="ProcessServer/Microsoft.IdentityModel.Abstractions.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          culture="neutral"
                          publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
        <codeBase version="13.0.0.0"
                  href="ProcessServer/Newtonsoft.Json.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RcmAgentCommonLib"
                          culture="neutral"/>
        <codeBase version="1.30.0.0"
                  href="ProcessServer/RcmAgentCommonLib.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RcmClientLib"
                          culture="neutral"/>
        <codeBase version="1.37.8450.18164"
                  href="ProcessServer/RcmClientLib.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RcmContract"
                          culture="neutral"/>
        <codeBase version="1.37.8450.18164"
                  href="ProcessServer/RcmContract.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple"
                          culture="neutral"
                          publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
        <codeBase version="4.0.3.0"
                  href="ProcessServer/System.ValueTuple.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          culture="neutral"
                          publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="3.0.0.0"
                  href="ProcessServer/Microsoft.ServiceBus.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights"
                          culture="neutral"
                          publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="2.5.1.0"
                  href="ProcessServer/Microsoft.ApplicationInsights.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.ServerTelemetryChannel"
                          culture="neutral"
                          publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="2.5.1.0"
                  href="ProcessServer/Microsoft.AI.ServerTelemetryChannel.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
