# This is the CS,PS or CS/PS installation main configuration file for silent installations.
# Please specify the Mode of Installation: whether Fabric or Host Based installation

# Mode can be host or fabric - For Fabric installation 'both' (CS-PS) will be installed
MODE=

# Installation type can be CS,PS or both
INST_TYPE=

# This is the CS port number (required in all values of INST_TYPE)
CS_PORT=

# This is the CS IP address for the PS to use (required in all values of INST_TYPE)
CS_IP_FOR_NIC=

# This is the PS IP address. Required for PS or 'both'
PS_IP_FOR_NIC=

# Action to  be performed -- U for "Upgrade"
ACTION_TO_BE_PERFORMED=

# MySQL password
MYSQL_PASSWORD=
