<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.Azure.SiteRecovery.ProcessServer.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" allowExeDefinition="MachineToApplication" />
      <section name="Microsoft.Azure.SiteRecovery.ProcessServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" allowExeDefinition="MachineToApplication" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClientLibHelpers"
                          culture="neutral"/>
        <codeBase version="3.1.0.0"
                  href="ProcessServer/ClientLibHelpers.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CredentialStore"
                          culture="neutral"/>
        <codeBase version="3.1.0.0"
                  href="ProcessServer/CredentialStore.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client"
                            culture="neutral"
                            publicKeyToken="0a613f4dd989e8ae"/>
        <codeBase version="4.48.1.0"
                    href="ProcessServer/Microsoft.Identity.Client.dll"/>
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions"
                            culture="neutral"
                            publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="6.22.0.0"
                    href="ProcessServer/Microsoft.IdentityModel.Abstractions.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          culture="neutral"
                          publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
        <codeBase version="13.0.0.0"
                  href="ProcessServer/Newtonsoft.Json.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RcmAgentCommonLib"
                          culture="neutral"/>
        <codeBase version="1.30.0.0"
                  href="ProcessServer/RcmAgentCommonLib.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RcmClientLib"
                          culture="neutral"/>
        <codeBase version="1.37.8450.18164"
                  href="ProcessServer/RcmClientLib.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RcmContract"
                          culture="neutral"/>
        <codeBase version="1.37.8450.18164"
                  href="ProcessServer/RcmContract.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple"
                          culture="neutral"
                          publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
        <codeBase version="4.0.3.0"
                  href="ProcessServer/System.ValueTuple.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus"
                          culture="neutral"
                          publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="3.0.0.0"
                  href="ProcessServer/Microsoft.ServiceBus.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights"
                          culture="neutral"
                          publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="2.15.0.44797"
                  href="ProcessServer/Microsoft.ApplicationInsights.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.ServerTelemetryChannel"
                          culture="neutral"
                          publicKeyToken="31bf3856ad364e35"/>
        <codeBase version="2.15.0.44797"
                  href="ProcessServer/Microsoft.AI.ServerTelemetryChannel.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="false" useGlobalLock="false">
      <listeners>
        <clear/>
      </listeners>
    </trace>
    <switches>
      <add name="LibrarySwitch" value="Information"/>
      <add name="ServiceSwitch" value="Information"/>
    </switches>
    <sources>
      <source name="PSCore/RestWrapper" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/CSApi" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/Misc" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/RcmApi" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/Settings" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/RcmJobProc" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/RcmConf" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/TaskMgr" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/PSV2Telemetry" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="PSV2MdsListener"/>
        </listeners>
      </source>
      <source name="PSCore/MsgService" switchName="LibrarySwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PS/Main" switchName="ServiceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PS/Monitoring" switchName="ServiceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PS/VolsyncMain" switchName="ServiceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PS/VolsyncChild" switchName="ServiceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
      <source name="PS/DiffDataSort" switchName="ServiceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DefaultMdsListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add
        name="DefaultMdsListener"
        type="Microsoft.Azure.SiteRecovery.ProcessServer.Core.Tracing.MdsLogCutterTraceListener, Microsoft.Azure.SiteRecovery.ProcessServer.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        traceOutputOptions="None"
        initializeData="
            {
              FolderPath:'ProcessServer_Logs\\Default',
              MdsTableName:'InMageAdminLogV2',
              WellKnownRoot:'var',
              ComponentId:'ProcessServer'
            }">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add
        name="PSV2MdsListener"
        type="Microsoft.Azure.SiteRecovery.ProcessServer.Core.Tracing.MdsLogCutterTraceListener, Microsoft.Azure.SiteRecovery.ProcessServer.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        traceOutputOptions="None"
        initializeData="
            {
              FolderPath:'telemetry_logs',
              MdsTableName:'InMageTelemetryPSV2',
              WellKnownRoot:'var',
              ComponentId:'ProcessServer'
            }">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Microsoft.Azure.SiteRecovery.ProcessServer.Core.Settings>
      <!--
      <setting name="Dummy" serializeAs="String">
        <value>0</value>
      </setting>
      -->
    </Microsoft.Azure.SiteRecovery.ProcessServer.Core.Settings>
    <Microsoft.Azure.SiteRecovery.ProcessServer.Settings>
      <!--
      <setting name="Dummy" serializeAs="String">
        <value>0</value>
      </setting>
      -->
    </Microsoft.Azure.SiteRecovery.ProcessServer.Settings>
  </applicationSettings>
</configuration>
