<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="InMage-Azure-SiteRecovery-Consumption" value="https://msazure.pkgs.visualstudio.com/_packaging/InMage-Azure-SiteRecovery-Consumption/nuget/v3/index.json" />
  </packageSources>
</configuration>