<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="AadLoginEndpoint" value="https://login.windows.net/" />
    <add key="DeviceAuthEndpoint" value="https://login.microsoftonline.com/common/oauth2/deviceauth" />
    <add key="ArmEndpoint" value="https://vault.azure.net" />
    <add key="KeyVaultURL" value="https://dms-key.vault.azure.net/" />
    <add key="TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="TenantName" value="inmagesource" />
    <add key="ClientId" value="74fb8f36-258a-4219-8feb-93f34ad96671" />
    <!--For Test Env's-->
    <!--<add key="Resource" value="https://microsoft.onmicrosoft.com/Dms-Api-Test" />
    <add key="Authority" value="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="DmsMgmtService" value="https://dmsapitest-cs.azurewebsites.net" />-->
    <!--For Product Env's-->
    <add key="Resource" value="https://microsoft.onmicrosoft.com/Dms-Api-Prod" />
    <add key="Authority" value="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="DmsMgmtService" value="https://dmsapi.trafficmanager.net" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="UST.Library.Dms.Contracts" publicKeyToken="06a2bce17316018b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.32" newVersion="1.0.0.32" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>